@tailwind base;     /* Resets and normalizes your styles */
@tailwind components; /* Applies Tailwind's component styles */
@tailwind utilities; /* Loads all of Tailwind's utility classes */

/* You can add additional global styles below the Tailwind directives */
/* https://tailwindcss.com/docs/adding-base-styles */
/* https://tailwindcss.com/docs/adding-components-styles */
/* https://tailwindcss.com/docs/adding-utilities-styles */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
